@model IEnumerable<Entity.Concrete.Product>
@{
    ViewBag.Title = "Sipariş Verilecek Ürünler";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-shopping-cart"></i> Sipariş Verilecek Ürünler
                    </h3>
                </div>
                <div class="panel-body">
                    <p>
                        Aşağıdaki ürünlerin stok seviyesi minimum stok seviyesinin altına düşmüştür. 
                        Bu liste, tedarikçilere göre gruplandırılmıştır.
                    </p>
                    
                    @if (Model != null && Model.Any())
                    {
                        var supplierGroups = Model.GroupBy(p => p.SupplierId);
                        
                        foreach (var group in supplierGroups)
                        {
                            var firstProduct = group.First();
                            var supplierName = firstProduct.Supplier != null ? firstProduct.Supplier.CompanyName : "Tedarikçi Belirtilmemiş";
                            
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4>
                                        <i class="glyphicon glyphicon-briefcase"></i> @supplierName
                                        @if (firstProduct.Supplier != null)
                                        {
                                            <small>
                                                | Tel: @firstProduct.Supplier.Phone
                                                | E-posta: @firstProduct.Supplier.Email
                                            </small>
                                        }
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>Ürün Kodu</th>
                                                <th>Ürün Adı</th>
                                                <th>Kategori</th>
                                                <th>Mevcut Stok</th>
                                                <th>Minimum Stok</th>
                                                <th>Sipariş Miktarı</th>
                                                <th>Alış Fiyatı</th>
                                                <th>Toplam Tutar</th>
                                                <th>Son Alım Tarihi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in group)
                                            {
                                                var orderQuantity = item.MinimumStock - item.Stock;
                                                if (orderQuantity < 0) orderQuantity = 0;
                                                var totalPrice = orderQuantity * item.PurchasePrice;
                                                
                                                <tr>
                                                    <td>@item.ProductId</td>
                                                    <td>@item.ProductName</td>
                                                    <td>@(item.Category != null ? item.Category.CategoryName : "-")</td>
                                                    <td>@item.Stock</td>
                                                    <td>@item.MinimumStock</td>
                                                    <td>@orderQuantity</td>
                                                    <td>@string.Format("{0:C}", item.PurchasePrice)</td>
                                                    <td>@string.Format("{0:C}", totalPrice)</td>
                                                    <td>@(item.LastPurchaseDate.HasValue ? item.LastPurchaseDate.Value.ToString("dd/MM/yyyy") : "-")</td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr class="info">
                                                <td colspan="7" class="text-right"><strong>Toplam Sipariş Tutarı:</strong></td>
                                                <td>
                                                    @{
                                                        decimal totalOrderAmount = 0;
                                                        foreach (var item in group)
                                                        {
                                                            var orderQuantity = item.MinimumStock - item.Stock;
                                                            if (orderQuantity > 0)
                                                            {
                                                                totalOrderAmount += orderQuantity * item.PurchasePrice;
                                                            }
                                                        }
                                                    }
                                                    @string.Format("{0:C}", totalOrderAmount)
                                                </td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    
                                    <div class="text-right">
                                        <button class="btn btn-success" onclick="alert('Bu özellik henüz aktif değildir.')">
                                            <i class="glyphicon glyphicon-envelope"></i> Sipariş Listesini E-posta Gönder
                                        </button>
                                        <button class="btn btn-primary" onclick="window.print()">
                                            <i class="glyphicon glyphicon-print"></i> Yazdır
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="alert alert-success">
                            <i class="glyphicon glyphicon-ok"></i> Sipariş verilmesi gereken ürün bulunmamaktadır.
                        </div>
                    }
                </div>
            </div>
            
            <div class="well">
                <div class="row">
                    <div class="col-md-6">
                        <a href="@Url.Action("BulkStockUpdate", "Product")" class="btn btn-primary btn-lg btn-block">
                            <i class="glyphicon glyphicon-plus"></i> Toplu Stok Güncelleme
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="@Url.Action("Index", "Home")" class="btn btn-default btn-lg btn-block">
                            <i class="glyphicon glyphicon-home"></i> Dashboard'a Dön
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 